body{
    background-color: rgb(190, 255, 255);
    
}

p{
    font-size: xx-large;
}
.i-ma{
    padding: 16px 10px;

}
#mma{
    width: 200px;
    height: 100px;
    background-image: url("r.jpg");
}
#nn{
    position: relative;
    right:40vh
}
.plain{
    z-index: 70;
}