body{
    background-color: rgb(190, 255, 255);
    
}

p{
    font-size: xx-large;
}
.i-ma{
    position:fixed;
    top:0%;
    width: 100%;
    margin:;
    
}

#mma{
    /* 
    background-image: url("r.jpg");  */
    width: 200px;
    height: 100px;
    text-align: center;
    background-image:url("imgas/r.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#nn{
    position: relative;
    right:40vh
}
